@import "../../../scss/mixins";

.backContainer {
  display: flex;
  align-items: center;
  border: none;

  & img {
    height: 1rem;
    @include md {
      height: 1.3rem;
    }
  }
  & span {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.5rem;
    @include md {
      font-size: 1.7rem;
      margin-left: 1rem;
    }
  }
}

.cardButton {
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .smallIcon {
    height: 0.8rem;
    width: "auto";
  }
}
